.resultCard {
  position: relative;
  width: 172px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 34px 10px;
  border-radius: 16px;
  background: #1d222c;
}

.resultCard.winner {
  border: 1px solid #ecd969;
}

.resultCard.loser {
  opacity: 0.5;
}

.chip {
  display: none;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background: #ecd969;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #1f232e;
  font-size: 12px;
}

.winner .chip {
  display: initial;
}

.name {
  font-size: 16px;
  font-weight: 700;
}

.score {
  font-size: 32px;
  font-weight: 700;
}
